* {
  box-sizing: border-box;
  font-family: "Noto Sans", "Roboto", "Sans Serif";
  color: #222222;
}
body {
  margin: 0;
  height: 100%;
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 0.7) 0%,
    rgba(148, 187, 233, 0.7) 100%
  );
  padding: 2vh 3vh;
}

.header {
  height: 12vh;
}
.search-container {
  height: 100%;
}
.search-form {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.search-box {
  height: 50%;
  font-family: "Roboto";
  background-color: transparent;
  box-shadow: 5px 5px 5px #fafafa20;
}
.search-button {
  height: 50%;
  text-align: center;
  background-color: transparent;
  box-shadow: 5px 5px 5px #fafafa20;
}
.search-button:active {
  background-color: #4a7c8030;
  color: aliceblue;
  transition: 0.2s;
}

.card-weather {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 2vh 0;
  text-align: center;
}
.card-weather-main {
  height: auto;
  width: 90vw;
  margin-bottom: 10px;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px) saturate(100%) contrast(45%) brightness(130%);
  font-weight: 700;
  font-size: 24px;
  padding: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 2fr;
  text-shadow: 5px 5px 5px #4a7c80;
}

.card-weather-temp {
  grid-row: 2/3;
  grid-column: 1/3;
  align-self: center;
  font-size: 5rem;
}

.card-item {
  border-left: 3px solid #dcdcdc99;
  border-bottom: 3px solid #dcdcdc99;
  width: 90vw;
  font-weight: 500;
  font-size: 24px;
  padding: 10px;
  border-radius: 15px;
  background: rgb(122, 117, 222);
  background: linear-gradient(
    90deg,
    rgba(142, 137, 223, 0.8) 0%,
    rgba(150, 150, 236, 1) 35%,
    rgba(146, 200, 212, 0.7) 100%
  );
  margin-bottom: 5px;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  text-shadow: 2px 2px 2px #4a7c8099;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  margin-top: 10px;
  background-color: transparent;
}
.links-externos {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.logo-redes-sociales {
  height: 30px;
}

.logo-redes-sociales:hover {
  transform: rotateY(360deg);
  transform: rotateX(360deg);
  transition: 1.2s;
}
